@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var backgroundImageUrl = Url.Content("~/images/RV_Park.jpg");
}


<div class="content">
    <h1>RV Park</h1>

    <img src="@Url.Content("~/images/RV_Park.jpg")" alt="RV Park" style="max-width: 100%; border-radius: 10px;" />

     @if (!Model.AvailableSites.Any())
    {
        <h3>Sorry, no available sites today.</h3>
    }
    else
    {
        <h3>Available Sites</h3>
        <ul class="list-group">
            @foreach (var site in Model.AvailableSites)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        Site: @site.Name – Type: @site.SiteType?.Name
                    </span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-page="/Customer/Reservations/Upsert" asp-route-siteId="@site.Id" class="btn btn-primary">
                            Reserve
                        </a>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/Customer/Reservations/Upsert", new { siteId = site.Id })" class="btn btn-outline-warning">
                            Login to Reserve
                        </a>
                    }
                </li>
            }
        </ul>
    } 
    
    
</div>