@page
@model ReportModel
@{
    ViewData["Title"] = "Reservation Report";
}

<div class="border backgroundWhite container">
    <div class="row pt-4">
        <div class="col-6">
			<h2 class="text-primary">Reports</h2>
        </div>
    </div>
	<br /><br />


    <!--
    <form method="post" asp-page-handler="GenerateReport" class="p-3">
        <h3>Reservations</h3>
        <br />

        <div class="mb-3 row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
            <div class="col-sm-4">
                <input type="date" name="startDate" id="startDate" class="form-control" required />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
            <div class="col-sm-4">
                <input type="date" name="endDate" id="endDate" class="form-control" required />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Download Report</button>
            </div>
        </div>
    </form>
    -->

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Site Name</th>
                <th>Status</th>
                <th>Total Price ($)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservations)
            {
                <tr>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.EndDate.ToShortDateString()</td>
                    <td>@item.SiteName</td>
                    <td>@item.Status</td>
                    <td>@item.TotalPrice.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>

	
</div>

